{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <main class="recipe-form">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update">
      </form
      {% comment %} <form method="GET">
        {% csrf_token %} {{ form.as_p }}
        <div class="control">
          <button class="button">GET</button>
        </form> {% endcomment %}
    </main>
{% endblock content%}