{% extends 'base.html' %} {% load static %} {% load markdownify %}
<div></div>
{% block content %}
<main class="shopping-list">
    <h1>My Shopping List</h1>
    <div>
        <form method="post" action="{% url 'shopping_item_delete' %}"
        {% csrf_token %}
        <button class="button">Delete all</button>
        </form>
        <div>
        <ul>
        {% for ingredient in shopping_item_list %}
        <li>{{ ingredient.food_item }}</li>
        {% endfor %}
        </ul>
        </div>
    </div>
    <td>
        {% if ingredient.food not in shopping_item_list %}
          <form method="POST" action="{% url 'shopping_item_new' %}">
            {% csrf_token %}
            <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
          </form>
        {% else %}
          in your list
        {% endif %}
      </td>
</main>
{% endblock content %}