{% extends 'base.html' %} {% load static %} {% load markdownify %}
<div></div>
{% block content %}
<main class="mealplan-detail">
  <div>
    <a href="{% url 'meal_plan_new' %}">Create</a>
    <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
  </div>
  <h2>Recipes for {{ mealplan.name }}</h2>
  {% for recipe in mealplan.recipes.all %}
  <p>
    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
  </p>
  {% endfor %}
</main>
{% endblock content %}
