{% extends 'base.html' %} {% load static %} {% load markdownify %}
<div></div>
{% block content %}
<main class="recipe-grid">
  {% for mealplan in meal_plan_list %}
  <div class="recipe-card">
    <h2 class="recipe-card-title">
      <a href="{% url 'meal_plan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
    </h2>
    {% for recipe in mealplan.recipes.all %}
    <p>
      <a href="{% url 'meal_plan_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
    {% endfor %}
  </div>
  {% empty %}
  <div>
    <h1>No Meal Plans yet...</h1>
    <p>
      Would you like to
      <a href="{% url 'meal_plan_new' %}">create</a>
      one?
    </p>
  </div>
  {% endfor %}
</main>
{% endblock content %}
